<div class="container main-container">
  <h1>Novo Cliente</h1>

  <hr />
  <div class="row">
    <div class="col-md-10">
      <form
        novalidate="novalidate"
        (ngSubmit)="editarCliente()"
        [formGroup]="clienteForm"
      >
        <div class="alert alert-danger" *ngIf="errors.length > 0">
          <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
          <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>

        <div class="form-group">
          <label class="control-label">Nome</label>
          <div>
            <input
              class="form-control"
              id="nome"
              type="text"
              placeholder="Nome (requerido)"
              formControlName="nome"
              [ngClass]="{ 'is-invalid': displayMessage.nome }"
            />
            <span class="text-danger" *ngIf="displayMessage.nome">
              <p [innerHTML]="displayMessage.nome"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">CPF</label>
          <div>
            <input
              class="form-control"
              id="cpf"
              type="text"
              placeholder="___.___.___-__"
              formControlName="cpf"
              [ngClass]="{ 'is-invalid': displayMessage.cpf }"
            />
            <span class="text-danger" *ngIf="displayMessage.cpf">
              <p [innerHTML]="displayMessage.cpf"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">E-mail</label>
          <div>
            <input
              class="form-control"
              id="email"
              type="text"
              placeholder="E-mail (requerido)"
              formControlName="email"
              [ngClass]="{ 'is-invalid': displayMessage.email }"
            />
            <span class="text-danger" *ngIf="displayMessage.email">
              <p [innerHTML]="displayMessage.email"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Sexo</label>
          <div>
            <select
              class="form-control"
              id="sexo"
              formControlName="sexo"
              [ngClass]="{ 'is-invalid': displayMessage.sexo }"
            >
              <option value="">Selecione</option>
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
            </select>
            <span class="text-danger" *ngIf="displayMessage.sexo">
              <p [innerHTML]="displayMessage.sexo"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <input
            type="submit"
            value="Cadastrar"
            class="btn btn-primary"
          />&nbsp;
          <a class="btn btn-info" [routerLink]="['/clientes/listar-todos']"
            >Voltar</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
